# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
bin

# Ignore IntelliJ Local Settings Folder
/.idea/

.DS_Store

.classpath
.project
/.settings/
